<div id="message-<%= message.id %>" class="message <%= message.user == current_user ? 'current-user' : 'other-user' %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%e de %b - %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
