
<div id="message-<%= message.id %>" class="message <%= message.user == current_user ? 'current-user' : 'other-user' %>">

  <div class="message-content">
    <small>
      <strong><%= message.user.nickname %></strong>
    </small>
    <p><%= message.content %></p>
    <i><%= message.created_at.strftime("%e de %b - %l:%M %p") %></i>
  </div>
</div>
