<div class="out-container">
  <div data-controller="cep">
    <%= simple_form_for @job do |f| %>
      <div class="container-forms-custom">
        <div class="title">
          <h2>Editar vaga</h2>
        </div>
        <div class="forms">
          <%= f.input :cep, placeholder: 'CEP', label: false, input_html: { id: 'cepSelect', class: 'profile-info', data: { action: 'change->cep#updateAddress' } } %>
          <%= f.input :address, placeholder: 'Endereço', label: false, input_html: { id: 'addressSelect', class: 'profile-info' } %>
          <%= f.input :number, placeholder: 'Número', label: false, input_html: {class: 'profile-info' } %>
          <%= f.input :complement, placeholder: 'Complemento', label: false, input_html: {class: 'profile-info' } %>
          <%= f.input :neighborhood, placeholder: 'Bairro', label: false, input_html: { id: 'neighborhoodSelect', class: 'profile-info' } %>
          <%= f.input :city, placeholder: 'Cidade', label: false, input_html: { id: 'citySelect', class: 'profile-info' } %>
          <%= f.input :state, placeholder: 'Estado', label: false, input_html: { id: 'stateSelect', class: 'profile-info' } %>
          <%= f.input :description, as: :text, placeholder: 'Descrição da vaga', label: false, input_html: { class: 'profile-info', maxlength: 150, style: 'height: 150px;' } %>
          <%= f.input :salary, placeholder: 'Valor hora', label: false, input_html: { class: 'profile-info' } %>
          <%= f.input :long, label: false, input_html: { id: 'longSelect', class: 'profile-info d-none' } %>
          <%= f.input :lat, label: false, input_html: { id: 'latSelect', class: 'profile-info d-none' } %>
        </div>
      </div>
      <%= f.submit 'confirmar alterações', class: 'button mt-5' %>
    <% end %>
    <%= link_to 'Voltar', job_path, class: 'button ghost d-block text-center mt-3 mb-5' %>
  </div>
</div>
