<div class="mini-card-jobs-container">
  <% if @job.nil?  %>
    <%# Se não houver Job aparecerá a mensagem abaixo %>

      <div id="flash-alert" class="flash alert alert-dismissible fade show" role="alert" style="background-color: #A30155;">
        <p class="mb-0" style="color: white;"><span>Oops!</span> 😱 Não há vagas disponíveis!</p>
        <a data-bs-dismiss="alert" aria-label="Close" style="position: absolute; top: 5px; right: 8px; color: white;">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="d-flex w-100 justify-content-center" style="font-size:200px; margin-top:200px; color:#F5E4ED;">
        <i class="fa-regular fa-circle-xmark"></i>
      </div>
  <% else %>
      <%# mostrar a parte do candidato. %>
      <div class="card-details-container d-flex flex-column justify-content-center" data-controller="job-animation" data-job-animation-target="divAnimate">
        <div class="container-infos mt-3 mb-1">
          <div class="list">
            <h1 class="cand-detail-h1"><%= @job.interest_area.name %></h1>
            <div class="info-row mb-4 d-flex justify-content-between">
              <div class="info-left">
                <i class="fa-regular fa-building icon-color-default"></i>
              </div>
              <h3 class="list-card-title"><%= @job.user.nickname %></h3>
            </div>
            <div class="info-row">
              <p class="list-leg m-0">Valor hora:</p>
              <p class="list-item-card m-0">R$<%= @job.salary %></p>
            </div>
            <hr />
            <div class="info-row">
              <p class="list-leg m-0">Endereço:</p>
              <p class="list-item-card m-0"><%= @job.address %></p>
            </div>
            <hr />
            <div class="">
              <p class="list-leg m-0" style="font-size:14px;">Descrição:</p>
              <p class="list-item-card m-0"><%= @job.description %></p>
            </div>
            <p class="distance">
              <span><i class="fa-solid fa-road"></i></span>Distância <%= @job.distances.where(user: current_user)[0].distance %>km
            </p>
            <div class="map" data-controller="map" data-map-markers-value="<%= @marker.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
        <div class="buttons-match">
          <div class="gradient-border">
            <%= button_to job_matches_path(job_id: @job.id, dislike: true), method: :post, class:"btn-dislike-match" do  %>
              <i class="fa-regular fa-thumbs-down" data-job-animation-target="jobLeft" data-action="click->job-animation#left"></i>
            <% end %>
          </div>
          <div class="gradient-border" id="like-green">
            <%= button_to job_matches_path(job_id: @job.id, dislike: false), method: :post, class: "btn-like-match" do %>
              <i class="fa-regular fa-thumbs-up" data-job-animation-target="jobRight" data-action="click->job-animation#right"></i>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
