<div class="container">
<% if current_user.company.present? && current_user.company.jobs.any? %>
<h2 class="text-center text-white my-3 mb-5" >MINHAS VAGAS ANUNCIADAS</h2>
  <% @jobs.each do |job| %>
    <div class="card bg-card-job" >
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-transparent text-black text-start"><strong>Descrição:</strong> <%= job.description %></li>
          <li class="list-group-item bg-transparent text-black text-start"><strong>Salário:</strong> <%= job.salary %></li>
          <li class="list-group-item bg-transparent text-black text-start"><strong>Contratante:</strong> <%= job.company.company_name %></li>
          <li class="list-group-item bg-transparent text-black text-start">
            <% if job.matches.where(dislike: false).count > 0%>
              <i class="fa-regular fa-thumbs-up"></i> <strong>Likes:</strong> <%= job.matches.where(dislike: false).count %>
            <% else %>
              Ainda nenhum like.
            <% end %>
          </li>
        </ul>
      </div>
    <%= link_to 'Ver mais', job_path(job), class: "button button-transparent"%>
  <% end %>
<% else %>
<h1 class="text-center text-white my-3">Lista dos jobs na região</h1>
  <div class="card bg-card-job">
    <% @jobs.each do |job| %>
      <% if job.matches.none?{ |match| match.candidate_id == current_user.candidate.id } %>
        <div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-transparent text-white"><strong>Descrição:</strong> <%= job.description %></li>
            <li class="list-group-item bg-transparent text-white"><strong>Salário:</strong> <%= job.salary %></li>
            <li class="list-group-item bg-transparent text-white"><strong>Contratante:</strong> <%= job.company.company_name %></li>
            <%# <li class="list-group-item bg-transparent text-white">A fourth item</li>
            <li class="list-group-item bg-transparent text-white">And a fifth one</li> %>
          </ul>
          <div class="d-flex justify-content-between">
            <%= button_to job_matches_path(job_id: job.id, dislike: false), method: :post, class: "btn-match btn-like" do %>
              <i class="fa-regular fa-thumbs-up"></i>
            <% end %>
            <%= button_to job_matches_path(job_id: job.id, dislike: true), method: :post, class:"btn-match btn-dislike" do  %>
              <i class="fa-regular fa-thumbs-down"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>
</div>
</div>
