<div class="container mt-4">
<% if @jobs.none?  %>
<%# Se n칚o houver Job aparecer치 a mensagem abaixo %>
 <div class="flash flash-danger alert alert-dismissible fade show  " role="alert">
    <span><strong>Oops!</strong> 游땸 N칚o h치 vagas dispon칤veis!</span>
    <a data-bs-dismiss="alert" aria-label="Close" style="position: absolute; top: 5px; right: 8px;">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <% else %>
  <%# Executar as linhas de baixo %>
  <% if current_user.company.present? && current_user.company.jobs.any? %>
  <%# esta vendo se o currente.user e company e se tiver vagas vai mostrar o q esta a baixo %>
    <h2 class="text-center text-white my-3" >MINHAS VAGAS ANUNCIADAS</h2>
    <% @jobs.each do |job| %>

        <%# <div class="list-group list-group-flush "> %>
        <%# aqui pensei em colocarmos uma interpola칞칚o do n춿 da vaga antes da descri칞칚o. Ex: Vaga 1- Pedreiro. Vaga-2 Gar칞om. %>

          <%= link_to job_path(job) do %>
            <li class="button button-my-jobs d-flex justify-content-between" >
              <span style="color: #65656b;"><%= job.interest_area.name %></span>
              <div class= "iconlike">
                <% if job.matches.where(dislike: false).count > 0%>
                  <span style="display: inline-block; vertical-align: middle;"> <i class="far fa-thumbs-up"></i></span><span style="vertical-align: middle;">  <%= job.matches.where(dislike: false).count %></span>
                <% else %>
                  <span style="display: inline-flex; align-items: center;"><i class="far fa-thumbs-up" style="margin-right: 5px;"></i> <%= job.matches.where(dislike: false).count %></span>
                <% end %>
              </div>
            </li>
          <% end %>

          <%# <li class="list-group-item bg-transparent"><strong>Sal치rio por hora:</strong> <%= job.salary %>
          <%# <li class="list-group-item bg-transparent"><strong>Contratante:</strong> <%= job.company.company_name %>
          <%# <li class="list-group-item bg-transparent"> %>

        <%# </div> %>

      <%# <%= link_to 'Ver mais', job_path(job), class: "button button-transparent"%>
          <%# <li class="list-group-item bg-transparent"><strong>Sal치rio por hora:</strong> <%= job.salary %>
          <%# <li class="list-group-item bg-transparent"><strong>Contratante:</strong> <%= job.company.company_name %>
          <%# <li class="list-group-item bg-transparent"> %>



      <%# <%= link_to 'Ver mais', job_path(job), class: "button button-transparent"%>
    <% end %>
      <%= link_to 'ANUNCIAR UMA VAGA', new_job_path, class: 'button button-blue button-no-border' %>
      <%= link_to 'VOLTAR PARA PERFIL', company_path(current_user.company), class: 'button button-transparent' %>
  <% else %>
  <%# mostrar a parte do candidato. %>

    <div class="card-show-job" data-controller="job-animation" data-job-animation-target="divAnimate">
      <div class="descriptions">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-transparent text-white"></i> <strong> <h1> <%= @job.interest_area.name.upcase %> </h1> </strong></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-user-tie"></i> <strong>Contratante: </strong> <%= @job.company.company_name %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-dollar-sign"></i> <strong>Remunera칞칚o: R$ <%= @job.salary %>0/h</strong></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-quote-left"></i> <strong>Descri칞칚o: </strong> <%= @job.description %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-location-dot"></i> <strong>Endere칞o: </strong> <%= @job.address %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-road"></i> <strong>Distancia: </strong> <%= @job.distances[0].distance %> km</li>
        </ul>
      </div>
      <div class="map">
        MAP HERE
      </div>
      <div class="buttons">
        <%= button_to job_matches_path(job_id: @job.id, dislike: false), method: :post, class: "button-like" do %>
          <i class="fa-regular fa-thumbs-up" data-job-animation-target="jobLeft" data-action="click->job-animation#left"></i>
        <% end %>
        <%= button_to job_matches_path(job_id: @job.id, dislike: true), method: :post, class:"button-dislike" do  %>
          <i class="fa-regular fa-thumbs-down" data-job-animation-target="jobRight" data-action="click->job-animation#right"></i>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
</div>
