<div class="container mt-4">
<% if @jobs.none?  %>
<%# Se n칚o houver Job aparecer치 a mensagem abaixo %>
 <div class="flash flash-danger alert alert-dismissible fade show  " role="alert">
    <span><strong>Oops!</strong> 游땸 N칚o h치 vagas dispon칤veis!</span>
    <a data-bs-dismiss="alert" aria-label="Close" style="position: absolute; top: 5px; right: 8px;">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <% else %>
  <%# Executar as linhas de baixo %>
  <% if current_user.company.present? && current_user.company.jobs.any? %>
  <%# esta vendo se o currente.user e company e se tiver vagas vai mostrar o q esta a baixo %>
    <h2 class="text-center mt-5 mb-4" style="color: #404040; font-weight: 600;" >Minhas vagas</h2>
    <% @jobs.each do |job| %>

        <%# <div class="list-group list-group-flush "> %>
        <%# aqui pensei em colocarmos uma interpola칞칚o do n춿 da vaga antes da descri칞칚o. Ex: Vaga 1- Pedreiro. Vaga-2 Gar칞om. %>

          <%= link_to job_path(job), class: "text-decoration-none mb-5" do %>
            <li class="btn-card mb-3 d-flex justify-content-between align-items-center">
              <span><%= job.interest_area.name %></span>
              <div class= "iconlike">
                <% if job.matches.where(dislike: false).count > 0%>
                  <span style="display: inline-block; vertical-align: middle; gap: 2px;"><i class="far fa-thumbs-up m-1"></i></span><span style="vertical-align: middle;">  <%= job.matches.where(dislike: false).count %></span>
                <% else %>
                  <span style="display: inline-flex; align-items: center;"><i class="far fa-thumbs-up" style="margin-right: 5px;"></i> <%= job.matches.where(dislike: false).count %></span>
                <% end %>
              </div>
            </li>
          <% end %>

          <%# <li class="list-group-item bg-transparent"><strong>Sal치rio por hora:</strong> <%= job.salary %>
          <%# <li class="list-group-item bg-transparent"><strong>Contratante:</strong> <%= job.company.company_name %>
          <%# <li class="list-group-item bg-transparent"> %>

        <%# </div> %>

      <%# <%= link_to 'Ver mais', job_path(job), class: "button button-transparent"%>
          <%# <li class="list-group-item bg-transparent"><strong>Sal치rio por hora:</strong> <%= job.salary %>
          <%# <li class="list-group-item bg-transparent"><strong>Contratante:</strong> <%= job.company.company_name %>
          <%# <li class="list-group-item bg-transparent"> %>



      <%# <%= link_to 'Ver mais', job_path(job), class: "button button-transparent"%>
    <% end %>
      <%= link_to 'ANUNCIAR UMA VAGA', new_job_path, class: 'button mt-5 d-block' %>
       <%= button_to company_path(current_user.company), method: :get, class: 'button ghost mt-3' do %>
      Voltar para Perfil
    <% end %>
  <% else %>
    <%# mostrar a parte do candidato. %>
    <div class="card-show-job" data-controller="job-animation" data-job-animation-target="divAnimate">
      <div class="descriptions">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-transparent text-white"></i> <strong> <h1> <strong><%= @job.interest_area.name.upcase %></strong> </h1> </strong></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-user-tie"></i> <strong>Contratante: </strong> <%= @job.company.company_name %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-dollar-sign"></i> <strong>Remunera칞칚o: R$ <%= @job.salary %>0/h</strong></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-location-dot"></i> <strong>Endere칞o: </strong> <%= @job.address %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-road"></i> <strong>Dist칙ncia: </strong> <%= @job.distances[0].distance %> km</li>
        </ul>
      </div>
      <div class="map" data-controller="map" data-map-markers-value="<%= @marker.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <div id="description-text">
          <li class="list-group-item bg-transparent text-white"></i> <strong>Descri칞칚o: </strong> <%= @job.description %></li>
      </div>
      <div class="buttons">
        <div class="gradient-border">
      <%= button_to job_matches_path(job_id: @job.id, dislike: true), method: :post, class:"button-dislike" do  %>
        <i class="fa-regular fa-thumbs-down" data-job-animation-target="jobLeft" data-action="click->job-animation#left"></i>
      <% end %>
      </div>
      <div class="gradient-border">
      <%= button_to job_matches_path(job_id: @job.id, dislike: false), method: :post, class: "button-like" do %>
        <i class="fa-regular fa-thumbs-up" data-job-animation-target="jobRight" data-action="click->job-animation#right"></i>
      <% end %>
      </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
