<div class="container">

<% if @jobs.none? %>
<%# Se não houver Job aparecerá a mensagem abaixo %>

  <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
    <span><strong>Oops!</strong> 😱 Não há vagas disponíveis no momento.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>


  <% else %>
  <%# Executar as linhas de baixo %>
  <% if current_user.company.present? && current_user.company.jobs.any? %>
  <%# esta vendo se o currente.user e company e se tiver vagas vai mostrar o q esta a baixo %>
    <h1 class="text-center text-white my-3" >Minhas vagas anunciadas</h1>
    <% @jobs.each do |job| %>
      <div class="card bg-card-job" >
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-quote-left"></i> <strong>Description:</strong> <%= job.description %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-dollar-sign"></i> <strong>Salary:</strong> <%= job.salary %></li>
          <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-briefcase"></i> <strong>Company:</strong> <%= job.company.company_name %></li>
          <li class="list-group-item bg-transparent text-white">
            <% if job.matches.where(dislike: false).count > 0%>
              <i class="fa-regular fa-thumbs-up"></i> <strong>Likes:</strong> <%= job.matches.where(dislike: false).count %>
            <% else %>
                Não há candidatos ainda.
            <% end %>
          </li>
        </ul>
      </div>
      <%= link_to 'Ver mais', job_path(job), class: "button"%>
    <% end %>
  <% else %>
  <%# mostrar a parte do candidato. %>
  <h1 class="text-center text-white my-3">Lista dos jobs na região</h1>
    <div class="card bg-card-job">
      <% @jobs.each do |job| %>
        <% if job.matches.none?{ |match| match.candidate_id == current_user.candidate.id } %>
          <div>
            <ul class="list-group list-group-flush ">
              <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-quote-left"></i> <strong>Description:</strong> <%= job.description %></li>
              <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-dollar-sign"></i> <strong>Salary:</strong> <%= job.salary %></li>
              <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-briefcase"></i> <strong>Company:</strong> <%= job.company.company_name %></li>
              <li class="list-group-item bg-transparent text-white">A fourth item</li>
              <li class="list-group-item bg-transparent text-white">And a fifth one</li>
            </ul>
            <div class="d-flex justify-content-between">
              <%= button_to job_matches_path(job_id: job.id, dislike: false), method: :post, class: "btn-match btn-like" do %>
                <i class="fa-regular fa-thumbs-up"></i>
              <% end %>
              <%= button_to job_matches_path(job_id: job.id, dislike: true), method: :post, class:"btn-match btn-dislike" do  %>
                <i class="fa-regular fa-thumbs-down"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>

<% end %>

</div>
</div>
