<div class="container">


<% if current_user.company.present? && current_user.company.jobs.any? %>
<h1>Minhas vagas anunciadas</h1>
  <% @jobs.each do |job| %>
    <ul>
      <li><%= job.company.company_name %> - <%= job.description %> - <%= job.salary %></li>
      <% if job.matches.any? %>
        <p>Likes: <%= job.matches.count %></p>
      <% else %>
        <p>Ainda nenhum like.</p>
      <% end %>
    </ul>
    <%= link_to 'Ver mais', job_path(job) %>
  <% end %>
<% else %>
<h1>Lista dos jobs na região</h1>
  <div class="card">
    <% @jobs.each do |job| %>
      <div>
        <h2><%= job.description %></h2>
        <p><%= job.salary %></p>
        <p><strong>Company:</strong> <%= job.company.company_name %></p>
        <%= button_to 'Like', job_matches_path(job_id: job.id), method: :post %>
        <%= link_to 'Dislike', job_dislike_path(job_id: job.id), method: :delete %>
      </div>
    <% end %>
<% end %>
</div>
</div>

