<div class="container my-3 mb-5 text-start" data-controller="cep">
  <h2>BEM-VINDO <%=@company.company_name%> PREENCHA OS DADOS ABAIXO E ANUNCIE SUA VAGA:</h2>

  <div class="container mt-5 text-start">

    <%= simple_form_for @job do |f| %>
      <%= f.collection_select :interest_area_id, @interest_areas, :id, :name, { include_blank: 'Selecione uma categoria' } %>

          <%= f.input  :cep, input_html: { id: 'cepSelect', class: "profile-info", data: { action: 'change->cep#updateAddress' }}%>
          <%= f.input  :city, input_html: { id: 'citySelect', class: "profile-info" }, label: "Cidade" %>
          <%= f.input  :address, input_html: { id: 'addressSelect', class: "profile-info" }, label: "Endereço"%>
          <%= f.input  :description, input_html: { class: "profile-info" }, label: "Descrição da vaga" %>
          <%= f.input  :salary, label: "Salário por hora", input_html: { class: "profile-info" }%>

      <%= f.submit "ANUNCIAR VAGA", class: 'button button-blue mt-5' %>
      <%= link_to 'VOLTAR PARA PERFIL', company_path(@company), class: 'button button-transparent' %>

  </div>
    <% end %>
  </div>
</div>
