<div class="container" data-controller="cep">
  <%= simple_form_for @job do |f| %>
    <%= f.input  :description %>
    <%= f.input  :cep, input_html: { id: 'cepSelect', data: { action: 'change->cep#updateAddress' }}%>
    <%= f.input  :address, input_html: { id: 'addressSelect' } %>
    <%= f.input  :city, input_html: { id: 'citySelect' } %>
    <%= f.input  :salary %>
    <%= f.collection_select :interest_area_id, @interest_areas, :id, :name, { include_blank: 'Selecione uma categoria' } %>

    <%= f.submit  "Criar job", class: 'btn btn-primary' %>
  <% end %>
</div>
