<div class="container my-3 mb-5">
  <h2>VAGA DE <%= @job.interest_area.name.upcase %></h2>

  <div class="card bg-card-job">

  <ul class="list-group list-group-flush ">
    <li class="list-group-item bg-transparent text-black text-start"> <strong>Descrição :</strong> <%= @job.description %></li>
    <li class="list-group-item bg-transparent text-black text-start"> <strong>Endereço :</strong> <%= @job.address %></li>
    <li class="list-group-item bg-transparent text-black text-start"> <strong>Salario :</strong> <%= @job.salary %></li>
    <li class="list-group-item bg-transparent text-black text-start"> <strong>Função :</strong> <%= @job.interest_area.name %></li>
  </ul>
  </div>
  <div class="flex-edit-delete">
    <%= link_to 'EDITAR VAGA', edit_job_path(@job), class: "button button-transparent" %>
    <%= link_to 'DELETAR VAGA', job_path(@job), data: { turbo_method: :delete }, class: "button button-red button-no-border"  %>
  </div>
  <%= link_to 'VER MINHAS VAGAS ANUNCIADAS', root_path, class: "button button-blue button-no-border"  %>


    <h2 style="color: white;">Quem curtiu minha vaga:</h2>

    <% if @job.matches.any? %>
      <% @job.matches.where(dislike: false).each do |match| %>
        <li style="text-align: left; list-style-type: none">
          <div class="profile-info mt-3"style="background-color: white; color: #65656B">
           <%= link_to "#{match.candidate.first_name} #{match.candidate.last_name}", match_path(match), style: "font-weight: bold;" %>
        <% end %>
        <% end %>
        </ul>
          </div>

  </div>
    <% else %>
    <p>Ainda nenhum like.</p>
    <% end %>
  </div>
