<div class="card-details-container">
  <div class="container-infos">
    <h2>Detalhes da vaga</h2>

    <div class ="list">
      <div class="info-row">
        <div class="info-left"><i class="fa-regular fa-building icon-color-default"></i></div>
        <div class="info-right" id="info-title"><strong><%="Precisa-se de: #{@job.interest_area.name}"%></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Endereço:</div>
        <div class="info-right"><strong><%= @job.address %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Valor hora:</div>
        <div class="info-right"><strong>R$<%= @job.salary %>0</strong></div>
      </div>
    </div>


    <h2 id="how-candidates">Quem se candidatou?</h2>

    <% if @job.matches.any? %>
      <div class="big-list">
        <% @job.matches.where(dislike: false).each do |match| %>


          <li class="info-row">
            <% if match.candidate.photo.present? %>
              <div class="photo-candidate"><%= cl_image_tag match.candidate.photo.key, height: 50, width: 50, crop: :fill, class: "photo-candidate" %></div>
            <% else %>
              <%= image_tag("Imagem perfil candidato.png", alt:"Avatar do usuário", class:"photo-candidate") %>
            <% end %>
            <div class="name-center"><strong><%= link_to match.candidate.first_name.capitalize, match_path(match) %></strong></div>



          </li>
          <hr>



        <% end %>
      </div>
    <% else %>
      <p>Ainda nenhum candidato. 😢</p>
    <% end %>

  </div>

  <%= link_to 'EDITAR VAGA', edit_job_path(@job), class: "button d-block mt-5" %>
  <%= link_to 'EXCLUIR VAGA', job_path(@job), data: { turbo_method: :delete }, class: "button ghost d-block mt-3 mb-5"  %>
</div>



  <%# <%= link_to 'VER MINHAS VAGAS ANUNCIADAS', root_path, class: "button button-blue button-no-border"  %>
