<h1>Vagas</h1>

<p><strong>Descrição :</strong> <%= @job.description %></p>
<p><strong>Endereço :</strong> <%= @job.address %></p>
<p><strong>Pagamento :</strong> <%= @job.salary %></p>
<p><strong>Nome da empresa :</strong> <%= @job.company.company_name %></p>
<p><strong>Função:</strong> <%= @job.interest_area.name %></p>

<%= link_to 'Editar Vaga', edit_job_path(@job) %>
<%= link_to 'Deletar vaga', job_path(@job), data: { turbo_method: :delete } %>
<%= link_to 'Voltar para as vagas', jobs_path %>
