<h1>Perfil da job</h1>

<p><Strong>Descrição :</Strong> <%= @job.description %></p>
<p><Strong>Endereço :</Strong> <%= @job.address %></p>
<p><Strong>Pagamento :</Strong> <%= @job.salary %></p>
<p><Strong>Nome da empresa :</Strong> <%= @job.company.company_name %></p>
<p><Strong>Função:</Strong> <%= @job.interest_area.name %></p>


<%= link_to "Editar Perfil", edit_job_path(@job) %>
<%= link_to "Deletar vaga", job_path(@job), data: {turbo_method: :delete} %>
<%= link_to "Voltar para as vagas", jobs_path %>
