<<<<<<< HEAD
<h1>Perfil da job</h1>

<p><Strong>Descrição :</Strong> <%= @job.description %></p>
<p><Strong>Endereço :</Strong> <%= @job.address %></p>
<p><Strong>Pagamento :</Strong> <%= @job.salary %></p>
<p><Strong>Nome da empresa :</Strong> <%= @job.company.company_name %></p>
<p><Strong>Função:</Strong> <%= @job.interest_area.name %></p>


<%= link_to "Editar Perfil", edit_job_path(@job) %>
<%= link_to "Deletar vaga", job_path(@job), data: {turbo_method: :delete} %>
<%= link_to "Voltar para as vagas", jobs_path %>

<%# mostrar os likes os cadidatos que gostaram desse job %>
=======
<div class="container">
  <h1>Vaga de <%= @job.interest_area.name.downcase %></h1>

  <p><strong>Descrição :</strong> <%= @job.description %></p>
  <p><strong>Endereço :</strong> <%= @job.address %></p>
  <p><strong>Pagamento :</strong> <%= @job.salary %></p>
  <p><strong>Nome da empresa :</strong> <%= @job.company.company_name %></p>
  <p><strong>Função:</strong> <%= @job.interest_area.name %></p>

  <%= link_to 'Editar Vaga', edit_job_path(@job) %>
  <%= link_to 'Deletar vaga', job_path(@job), data: { turbo_method: :delete } %>
  <%= link_to 'Voltar para as vagas', root_path %>

  <h3>Quem curtiu</h3>

  <% if @job.matches.any? %>
    <ul>
      <% @job.matches.each do |match| %>
        <li><%= match.candidate.first_name %></li>
        <%= button_to 'Dislike', job_match_path(@job, match), data: { turbo_method: :delete } %>
      <% end %>
    </ul>
  <% else %>
    <p>Ainda nenhum like.</p>
  <% end %>
</div>
>>>>>>> f305a60c2f4b8c5adccf621017703f971c7890f4
