<div class="container">
  <h1>Vaga de <%= @job.interest_area.name.downcase %></h1>

  <div class="card bg-card-job">

  <ul class="list-group list-group-flush ">
    <li class="list-group-item bg-transparent text-white"> <strong>Descrição :</strong> <%= @job.description %></li>
    <li class="list-group-item bg-transparent text-white"> <strong>Endereço :</strong> <%= @job.address %></li>
    <li class="list-group-item bg-transparent text-white"> <strong>Salario :</strong> <%= @job.salary %></li>
    <li class="list-group-item bg-transparent text-white"> <strong>Função :</strong> <%= @job.interest_area.name %></li>
  </ul>
  </div>

  <%= link_to 'Editar Vaga', edit_job_path(@job), class: "button" %>
  <%= link_to 'Deletar vaga', job_path(@job), data: { turbo_method: :delete }, class: "button"  %>
  <%= link_to 'Ver meus anuncios ', root_path, class: "button"  %>

  <h2>Quem curtiu</h2>

  <% if @job.matches.any? %>
    <ul>
      <% @job.matches.where(dislike: false).each do |match| %>
        <li><%= match.candidate.first_name %></li>
        <%= button_to job_dislike_path(@job, match.id), method: :post, class:"btn-match btn-dislike" do  %>
        <i class="fa-regular fa-thumbs-down"></i>
        <% end %>
      <% end %>
    </ul>
  <% else %>
  <p>Ainda nenhum like.</p>
  <% end %>
</div>
