<div class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
     <span class="navbar-logo-style" style="background-image: linear-gradient(to right, #BD0363, #012E65); -webkit-background-clip: text; color: transparent;"> workando </span>
    <% end %>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.role == "role_candidate" && current_user.candidate != nil %>
            <li class="nav-item active text-dark">
              <%= link_to 'Home', root_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Messages', '#', class: 'nav-link text-dark'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Messages', '#', class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag 'https://kitt.lewagon.com/placeholder/users/ssaunier', class: 'avatar', alt: 'dropdown menu' %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to 'Perfil', candidate_path(current_user.candidate), class: 'dropdown-item' %>
                <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link text-dark'%>
            </li>
          <% end %>
          <% if current_user.role == "role_company" && current_user.company != nil %>
            <li class="nav-item active">
              <%= link_to 'Home', root_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Minhas vagas anunciadas', root_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Messages', '#', class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Perfil da empresa', company_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
                <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link text-dark' %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link text-dark' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
