<div class="container mt-3 ">

  <h2 class="title-form"><strong> INSIRA SEUS DADOS E ENCONTRE SUA VAGA! </strong></h2>

    <div class="container mt-3 text-start" data-controller="cep">

      <%= simple_form_for @candidate do |f| %>
        <%= f.collection_select :candidate_interest_areas, @interest_areas, :id, :name, {}, { multiple: true, include_hidden: false  } %>

        <%= f.input :first_name, placeholder: "Nome", label: false, input_html: { class: "profile-info"}%>
        <%= f.input :last_name, placeholder: "Sobrenome", label: false, input_html: { class: "profile-info"} %>
        <%= f.input :cpf, placeholder: "CPF", label: false, input_html: { class: "profile-info"} %>
        <%= f.input :phone, placeholder: "Telefone", label: false, input_html: { class: "profile-info"} %>
        <%= f.input :cep, placeholder: "CEP", input_html: { id: 'cepSelect', data: { action: 'change->cep#updateAddress' }}, label: false, input_html: { class: "profile-info"} %>
        <%= f.input :address, placeholder: "Endereço", input_html: { id: 'addressSelect' } , label: false, input_html: { class: "profile-info"}%>
        <%= f.input :city, placeholder: "Cidade", input_html: { id: 'citySelect' }, label: false, input_html: { class: "profile-info"} %>
        <%= f.input :experience, placeholder: "Experiência" , label: false, input_html: { class: "profile-info"}%>
        <%= f.submit "Confirmar Cadastro", class: "button button-blue button-no-border"%>

    </div>
      <% end %>
  </div>
</div>
