<div class="card-details-container">
  <div class="container-infos">
    <div class="profile-photo">
      <% if @candidate.photo.present? %>
        <%= cl_image_tag @candidate.photo.key, height: 300, width: 400, crop: :fill, class:"profile-picture" %>
      <% else %>
        <%= image_tag("Imagem perfil candidato.png", alt:"Avatar do usuário", class:"profile-picture") %>
      <% end %>
    </div>

    <div class ="list">
      <div class="info-row">
        <div class="info-left">Nome: </div>
        <div class="info-right" id="info-title"><strong><%= @candidate.first_name %> <%= @candidate.last_name %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">CPF:</div>
        <div class="info-right"><strong><%= @candidate.cpf %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Telefone:</div>
        <div class="info-right"><strong><%= @candidate.phone %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">CEP:</div>
        <div class="info-right"><strong><%= @candidate.cep %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Endereço:</div>
        <div class="info-right"><strong><%= @candidate.address %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Cidade:</div>
        <div class="info-right"><strong><%= @candidate.city %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Experiências profissionais:</div>
        <div class="info-right"><strong><%= @candidate.experience %></strong></div>
      </div>
    </div>
  </div>

  <%= link_to "PROCURAR VAGAS", root_path, class: "button d-block mt-5" %>
  <%= link_to 'EDITAR PERFIL', edit_candidate_path(@candidate), class: "button ghost d-block text-center mt-3 mb-5"  %>
</div>
