<h1>Perfil do Candidato</h1>

<p><Strong>Nome :</Strong> <%= @candidate.first_name %></p>
<p><Strong>Sobrenome :</Strong> <%= @candidate.last_name %></p>
<p><Strong>cpf :</Strong> <%= @candidate.cpf %></p>
<p><strong>phone</strong><%= @candidate.phone %></p>
<p><strong> address :</strong><%=@candidate.address %></p>
<p><strong> experiences :</strong><%=@candidate.experience %></p>

<%# link_to "Editar Perfil", edit_candidate_path(@candidate) %>
<%# link_to "Excluir Conta", candidate_path  %>
<%# link_to "Voltar para as vagas", jobs_path %>
