<div class="container mt-5  ">
  <h2>Perfil do Candidato</h2>


  <div class="profile-info mt-5">

    <p><strong>Nome:</strong> <%= @candidate.first_name %></p>
  </div>
  <div class="profile-info">
    <p><strong>Sobrenome :</strong> <%= @candidate.last_name %></p>
  </div>
  <div class="profile-info">
    <p><strong>CPF :</strong> <%= @candidate.cpf %></p>
  </div>
  <div class="profile-info">
    <p><strong>Telefone :</strong> <%= @candidate.phone %></p>
  </div>
  <div class="profile-info">
    <p><strong> Endereço :</strong> <%= @candidate.address %></p>
  </div>

  <div class="profile-info">
    <p><strong> Experiências profissionais :</strong> <%= @candidate.experience %></p>
  </div>



  <%= link_to 'Editar Perfil', edit_candidate_path(@candidate), class: "button" %>
  <%= link_to "Voltar para as vagas", root_path, class: 'btn btn-secudary' %>
</div>
