<div class="container mt-3  ">
  <h1>Perfil do Candidato</h1>

  <div style="padding: 10px;">
    <%= image_tag 'https://via.placeholder.com/400x200', width: 400, height: 200, alt: 'Imagem de Teste' %>
  </div>

  <p><strong>Nome :</strong> <%= @candidate.first_name %></p>
  <p><strong>Sobrenome :</strong> <%= @candidate.last_name %></p>
  <p><strong>CPF :</strong> <%= @candidate.cpf %></p>
  <p><strong>Telefone</strong><%= @candidate.phone %></p>
  <p><strong> Endereço  :</strong><%= @candidate.address %></p>
  <p><strong> Experiências profissionais :</strong><%= @candidate.experience %></p>

  <%= link_to 'Editar Perfil', edit_candidate_path(@candidate) %>
</div>
<%# link_to "Voltar para as vagas", jobs_path %>
