<div class="container">
  <%= simple_form_for @company do |f| %>
    <%= f.input  :company_name 
    <%= f.input  :cnpj %>
    <%= f.input  :company_description %>
    <%# <%= f.input  :phone %>
    <%# <%= f.input  :address %>
    <%= f.submit  "Atualizar empresa", class: ' button button-blue button-no-border' %>

  <% end %>
</div>
