<div class="container mt-3">
  <h2 class="title-form">Cadastre sua empresa gratuitamente!</h2>
  <div class="container mt-3 text-start">
    <%= simple_form_for @company do |f| %>
      <%= f.input :company_name, placeholder: 'Nome Fantasia', label: false, input_html: { class: 'profile-info' } %>
      <%= f.input :cnpj, placeholder: 'CNPJ', label: false, input_html: { class: 'profile-info' } %>
      <%= f.input :company_description, placeholder: 'Descreva brevemente seu estabelecimento', label: false, input_html: { class: 'profile-info' } %>
      <%= f.input :photo, label: 'Foto do perfil:', as: :file, input_html: { class: 'profile-info', id: 'img-input' } %>
      <%= f.submit 'CONFIRMAR CADASTRO', class: 'button' %>
      <%= f.submit 'VOLTAR', class: 'ghost button mt-3' %>
    <% end %>
  </div>
</div>
