<div class="card-details-container">
  <div class="container-infos">
    <div class="profile-photo">
      <% if @company.photo.present? %> <%# se tiver foto adicionada vai motrar  %>
          <%= cl_image_tag @company.photo.key, height: 300, width: 400, crop: :fill, class:"profile-picture" %>
      <% else %>
        <%= image_tag("imagem_contratante.png", alt:"Avatar do usuário", class:"profile-picture") %> <%# vai mostrar essa pre definida %>
      <% end %>
    </div>

    <div class="list">
      <div class="info-row">
        <div class="info-left">Nome:</div>
        <div class="info-right" id="info-title"><strong><%= @company.company_name %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">CNPJ:</div>
        <div class="info-right"><strong><%= @company.cnpj %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">E-mail:</div>
        <div class="info-right"><strong><%= @company.user.email %></strong></div>
      </div>
      <hr>
      <div class="info-row">
        <div class="info-left">Descrição da empresa:</div>
        <div class="info-right"><strong><%= @company.company_description %></strong></div>
      </div>
    </div>
  </div>

  <%= link_to 'NOVA VAGA', new_job_path, class: 'button button-blue button-no-border' %>
  <%= link_to 'MINHAS VAGAS', root_path, class: 'button button-transparent' %>
  <%= link_to 'EDITAR PERFIL', edit_company_path(@company), class: 'button button-transparent' %>


  <%= link_to 'DELETAR PERFIL', company_path(@company), data: { turbo_method: :delete }, id: 'link-delete' %>
</div>
