<div class="container w-80">

<h1 style="margin-top: 64px; text-align: left;"><strong>Encontre seu <span style="color: #5AEAED; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" >match</span><br> perfeito no mercado de trabalho com o workando.
</strong></h1>

<h2 style="margin-top: 64px;">Cadastre-se gratuitamente ou faça o login em sua conta</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" style="text-align: left;">
      <%= f.input :email,
                  label: "e-mail",
                  placeholder: "e-mail",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: "Senha",
                placeholder: "Senha",
                required: false,
                input_html: { autocomplete: "current-password" } %>

    <div class="row justify-content-between">
      <div class="col-6">
      <%= f.input :remember_me,
                  label: "Mantenha-me logado",
                  as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="col-6 text-end">
      <%= link_to "esqueci a senha", new_password_path(resource_name) %><br />
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "LOGIN", class: "button button-transparent"  %>
  </div>
<% end %>

<%= link_to "CADASTRAR", new_registration_path(resource_name), class: "button button-blue button-no-border" %><br />
</div>


<%# Como colocar essa imagem? %>
<%# <img src="images/Logo fundo transparante.png"> %>
