<div class="container my-3 mb-5 text-start">
  <h2><strong>LISTA DE MATCHES</strong></h2>

  <% @matches.each do |match| %>
    <div class="card bg-card-job">
      <ul class="list-group list-group-flush ">
        <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-quote-left"></i> <strong>Empresa:</strong> <%= match.job.company.company_name %></li>
        <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-dollar-sign"></i> <strong>Função:</strong> <%= match.job.interest_area.name %></li>
        <li class="list-group-item bg-transparent text-white"><i class="fa-solid fa-briefcase"></i> <strong>Remuneração:</strong> R$<%= match.job.salary %> /h</li>
        <%  unless match.chatroom.nil? %>
          <%# esta perguntando se o chatroom esta nulo %>
          <%= link_to 'Conversar com o contratante', chatroom_path(match.chatroom) %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= link_to 'voltar', candidate_path(@current_user.candidate[:id]), class: 'button ghost d-block text-center mt-5' %>
</div>
