<div class="card-details-container">
  <div class="container-infos mb-1">
    <% if @match.candidate.photo.present? %>
      <%= cl_image_tag @match.candidate.photo.key, height: 300, width: 400, crop: :fill, class:"profile-picture", style:"display: block; margin: 0 auto;" %>
    <% else %>
      <%= image_tag("Imagem perfil candidato.png", alt:"Avatar do usuário", class:"profile-picture", style:"display: block; margin: 0 auto;") %>
    <% end %>
    <h2 id="candidate-name">
      <%="#{@match.candidate.first_name.capitalize} #{@match.candidate.last_name.capitalize}"%>
    </h2>
    <div class="list" id="not-flex-list">
      <hr>
      <div class="info-row mb-4">
        <div class="info-left">
          <p class="list-leg">Cidade: </p>
        </div>
        <h3 class="list-card-title"><%= @match.candidate.city %></h3>
      </div>
      <hr>
      <div class="info-row mb-4">
        <div class="info-left">
          <p class="list-leg">Endereço: </p>
        </div>
        <h3 class="list-card-title"><%= @match.candidate.address %></h3>
      </div>
      <hr>
      <div class="info-row mb-4">
        <div class="info-left">
          <p class="list-leg">Telefone: </p>
        </div>
        <h3 class="list-card-title"><%= @match.candidate.phone %></h3>
      </div>
      <hr>
      <div class="info-row">
        <p class="list-leg m-0">Experiência: </p>
        <p class="list-item-card"><%= @match.candidate.experience %></p>
      </div>
    </div>
    <% if @match.matched? %>
      <% if @chatroom_match  %>
        <p class="link-conv-contratante">
            <span><i class="fa-regular fa-comment"></i></span><%= link_to 'Conversar com candidato', chatroom_path(@chatroom_match), class: 'text-decoration-none mt-3' %></p>
      <% else %>
        <%= simple_form_for [@match, @chatroom] do |f| %>
          <p class="link-conv-contratante">
            <span><i class="fa-regular fa-comment"></i></span>
            <a href="#" onclick="document.querySelector('form').submit();">Iniciar conversa</a>
          </p>
        <% end %>
      <% end %>
    </div>
  <% else %>
  </div>
  <div class="buttons-match">
    <div class="gradient-border">
      <%= button_to job_dislike_path(match: @match, job_id: @match.job.id, dislike: true), method: :post, class:"btn-dislike-match" do  %>
      <i class="fa-regular fa-thumbs-down"></i>
      <% end %>
    </div>
    <div class="gradient-border" id="like-green">
      <%= button_to job_like_path(job_id: @match.job.id, match_id: @match.id), method: :post, class: "btn-like-match" do %>
        <i class="fa-regular fa-thumbs-up"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
